@font-face{font-family:'Yekan';src:url('../fonts/BYekan.ttf') format('truetype'),
url('../fonts/BYekan.eot?#') format('eot'), url('../fonts/BYekan.woff') format('woff');
    font-style:normal;font-weight:normal;}
@font-face{font-family:'BElham';src:url('../fonts/BElham.ttf') format('truetype'),
url('../fonts/BElham.eot?#') format('eot'), url('../fonts/BElham.woff') format('woff');
    font-style:normal;font-weight:normal;}
*{
    margin: 0;
    padding: 0;
    direction: rtl;
}
body{
    font-family: Yekan;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
ul,li{
    list-style: none;
}
img{
    max-width: 100%;
}
.container{
    padding: 0 15px;
    min-width: 1009px;
    max-width: 1676px;
    margin: 0 auto;
}
.flex{
    display: flex;
    align-items: center;
}
/******************** start Right Section Of Header **********************/
header .header{
    display: flex;
    align-items: center;
    min-width: 1009px;
    max-width:1676px;
    margin:0 auto;
    padding:12px 14px;
    background-color:#FFFFFF;
}
/* header .header .right-item{
    display: flex;
    align-items: center;
    width: 50%;
    position: relative;
} */
/* header .header .right-item .fa-search{
    position: absolute;
    right: 145px;
    color: #a1a3a8;
    font-weight: 500;
} */
.header .right{
    display: flex;
    position: relative;
    width: 650px;
}
header .header  .logo{
    background-size: contain;
    background:url("../images/icon/lg.svg") no-repeat center;
    display: block;
    width: 120px;
    margin-left: 10px;
}
/* header .header .right-item .search-box{
    background-color: #f0f0f1;
    border: none;
    border-radius: 8px;
    outline: none;
    padding:14px 45px 14px 14px;
    width:70%;
    text-align: right;
}
.right-item .search-box a{
    width: 350px;
    height: 45px;
    text-align: right;
    font-family: Yekan;
}
.right-item .search-box i{
    color:#999999
} */
/* ------------------------ */
#chk{
    appearance: none;
    display: none;
}
label{
    z-index: 1;
}
#search-box{
    width: 0px;
    height: 45px;
    border-radius: 30px;
    outline: none;
    border: none;
    background: #e7e7e7;
    color: #394a56;
    font-size: 20px;
    transition: .5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transform: scale(0);
    box-shadow:
      -8px -4px 10px 0px #ffffff,
      8px 4px 12px 0px #d1d9e6,
      4px 4px 5px 0px #d1d9e6 inset,
      -4px -4px 5px 0px #ffffff inset;
}

#search-box::placeholder{
    font-size: 20px;
    text-align: right;
    color: #000000;
    opacity: 0.6;
}

#search-box::-webkit-search-cancel-button{
    display: none;
}

input[type="search"]{
    padding: 0 25px;
}

#search-i{
    background: #e7e7e7;
    padding: 10px;
    margin-right: 50px;
    border-radius: 50%;
    font-size: 20px;
    color: #394a56;
    transition: .3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    cursor: pointer;
    box-shadow:
      -8px -4px 10px 0px #ffffff,
      8px 4px 12px 0px #d1d9e6,
      4px 4px 5px 0px #d1d9e6 inset,
      -4px -4px 5px 0px #ffffff inset;
}

#chk:checked ~ label #search-box{
    width: 300px;
    transform: scale(1);
}
#chk:checked ~ label #search-i{
    margin-left: 10px;
    color: #0d81d3;
    background: none;
    position: relative;
}
/******************** start Left Section Of Header **********************/
header .header .left-item{
    width: 50%;
    justify-content: flex-end;
    align-items: center;
}
header .header .left-item a:nth-child(1){
    border: 1px solid #ebebe2;
    color: #616161;
    border-radius: 8px;
    padding: 10px 12px;
    margin-left: 15px;
    font-size: 12px;
}
header .header .left-item a:nth-child(2){
    padding-right: 20px;
    border-right: 1px solid;
    color: #616161;
}
header .header .left-item a i{
font-size: 20px;
}

/***************************************/
@media all and (min-width: 992px) {
    .navbar .nav-item .nav-link{color: #747474;}
    .navbar .nav-item .dropdown-menu{ display: none; }
    .navbar .nav-item:hover .nav-link{ color: red;  }
    .navbar .nav-item:hover .dropdown-menu{ display: block; }
    .navbar .nav-item .dropdown-menu{ margin-top:0; }
    .navbar .nav-item .dropdown-menu .dropdown-item{color: #747474;}
}
.location{
    float: left;
    width: 300px;
}
.location span{
    font-size: 1rem;
    color: #747474;
}
.location i{
    color: #747474;
    position: relative;
    top: 2px;
}
/*----------------------------------------------------*/
.top-banner{
    height: 99px;
    margin-bottom: 15px;
}
.top-banner img{
    width: 100%;
    height: 100%;
    border-radius: 16px;
    margin: 0 auto;
    cursor: pointer;
    box-shadow: 0 2px 4px 0 rgb(0 0 0);
}
/*--------------------------*/
.swiper-container {
    height: 420px;
    border-radius: 16px;
}
.swiper-slide {
    border-radius: 16px;
    text-align: center;
    font-size: 18px;
    background: #fff;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
}
.swiper-button-next,.swiper-button-prev{
    color: #FFFFFF !important;
    text-shadow: 0 2px 4px #616161;
}
.swiper-container-rtl .swiper-button-next:hover{
    transform: translateX(-50%);
    transition: all .5s ease-in-out;
}
.swiper-container-rtl .swiper-button-prev:hover{
    transform: translateX(+50%);
    transition: all .5s ease-in-out;
}
main article{
    margin-top: 10px !important;
}
main article .flex{
    justify-content: space-between;
}
main article .flex .slider{
    width:65%;
    height: 100%;
}
main article .flex .left-side{
    width: 31%;
}
main article .flex .left-side a{
    display: block;
}
main article .flex .left-side a img{
    border-radius: 15px;
}
main article .flex .left-side a:nth-child(1){
    margin-bottom: 15px;
}
/*--------------------------------------*/
main .carousel{
    background-color: #ef394e;
    width:100%;
    padding: 35px 16px;
}
.carousel-slider{
    display: flex;
}
.carousel-slider .right{
    width: 17%;
}
.carousel .carousel-slider .right .banner{
    background: url("../images/carouselSection/1.png");
    height: 370px;
    display: block;
    background-position: center;
    background-size: cover;
}
.carousel .carousel-slider .right button{
    margin-top:25px;
    margin-left: 45px;
    font-size: 20px;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    background-color: #ef394e;
}
.carousel .carousel-slider .right button i{
    padding: 10px;
    color:#ffffff;
}
.carousel .carousel-slider .right button span{
    position: relative;
    top:-5px;
    font-size: 1rem;
    padding: 10px;
    color: #FFFFFF;
    font-family: Yekan;
}
@media (max-width: 760px) {
    .swiper-button-next {
        right: 20px;
        transform: rotate(90deg);
    }
    .swiper-button-prev {
        left: 20px;
        transform: rotate(90deg);
    }
}
.s1{
    width: 80%;
    height: 440px;
}
.swiper-slide .image{
    display: block;
}
.swiper-slide .image img{
    width: 200px;
    height: 200px;
    margin-top: 15px;
}
.swiper-slide .title {
    text-align: right;
    margin-top: 45px;
    margin-right:15px;
    overflow: hidden;
    max-width: 90%;
    min-height: 50px;
    font-size: .857rem;
    line-height: 25px;
    color: #535353;
}
.swiper-slide .title .digipay{
        text-align: right;
         margin-right:15px;
        overflow: hidden;
        max-width: 90%;
        min-height: 50px;
        font-size: .857rem;
        line-height: 25px;
        color: #535353;
}
.swiper-slide  .old-price{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.swiper-slide  .old-price del{
    display: block;
    color: #acacac;
    padding-top: 3px;
}
.swiper-slide .old-price .off-value{
    float: left;
    width: 50px;
    margin-right: 5px;
    background: #ef394e;
    border: 1px solid;
    border-radius: 15px;
    color:white;
}
.swiper-slide .new-price{
    font-family: Yekan;
    text-align: left;
    margin-left: 15px;
    font-weight: 700;
    font-size: 1.429rem;
    color: #000;
}
.swiper-slide .new-price span{
    font-size: 14px;
    color: #747474;
}
.swiper-slide .timer{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    color: #747474;
    margin: 15px;
}
.swiper-slide .timer p{
    margin-left: 5px;
}
.swiper-slide .timer >i{
    position: relative;
    top: 5px;
}
/*----------------------------------------*/
.sponsored-box{
    width: 100%;
    height: 250px;
    margin:10px 0;
    box-sizing: border-box;
}
.sponsored-box img{
    width: 24%;
    border-radius: 16px;
    cursor: pointer;
    margin-top: 5px;
    margin-right: 13px;
    box-shadow: 5px 5px 5px #747474;
}
.sponsored-box img:first-child{
    margin-right: 0 !important;
}